body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.votaciones-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grafica {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.total-votes {
  margin-top: 20px;
  text-align: center;
}

.boleta-container {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.boleta {
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 800px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  margin: 5px 0;
  letter-spacing: 1px;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.elemento-encabezado {
  display: flex;
  flex-direction: column;
}

.elemento-encabezado span {
  margin: 2px 0;
  letter-spacing: 0.5px;
}

.partidos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partido {
  width: 48%;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.logo-partido {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-partido img {
  width: 100%;
  height: auto;
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}

.nombre-partido {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.nombre-candidato {
  margin-left: auto;
  letter-spacing: 0.5px;
}

.checkbox {
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button {
  padding: 8px 10px; 
  font-size: 10px; 
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
